@mixin for-regular-mobile-up {
	@media (min-width: 360px) { @content; }
}
@mixin for-wide-up {
	@media (min-width: 450px) { @content; }
}
@mixin for-min-1016 {
	@media (min-width: 1016px) { @content; }
}
@mixin for-min-1200 {
	@media (min-width: 1200px) { @content; }
}
/* Html tags section */
body {
	font-family: 'Roboto', sans-serif;
}
h2 {
	font-family: 'Lora', serif !important;
}
p {
	text-align: justify;
}
/* All page container */
.all-page {
	margin: auto;
	max-width: 1200px;
	@include for-min-1200 {
		box-shadow: 0px 0px 20px 1px #ccc;
	}
}
/* Title section */
.title-div {
	width: 100%;
	height: 300px;
	font-family: 'Oswald', sans-serif;
	background-color: #031217;
	background-image: url(../img/title-image.jpg);
	background-position: 1% 0;
	background-repeat: no-repeat;
	background-size: contain;
}
.title-text {
	display: inline-block;
	float: right;
	padding-right: 10px;
	padding-top: 0px;
	color: white;
	text-align: right;
	@include for-wide-up {
		padding-top: 60px;
		padding-right: 5%;
	}
}
.title-main {
	/* yellow */
	color: #dfaa0f;
	font-size: 24px;
	cursor: default;
	@include for-regular-mobile-up {
		font-size: 36px;
	}
}
.title-description {
	font-style: italic;
	text-align: right;
	font-size: 10px;
	@include for-regular-mobile-up {
		font-size: 14px;
	}
}
.title-date {
	font-weight: bold;
	text-align: right;
	font-size: 16px;
	@include for-regular-mobile-up {
		font-size: 24px;
	}
}
/* Main section */
.row {
	margin: 0 !important;
}
/* Image float right 1 and 3 section*/
#row1 > .col-xs-3,
#row3 > .col-xs-3 {
	float: right;
}
/* Text float left 1 and 3 section*/
#row1 > .col-xs-9,
#row3 > .col-xs-9 {
	float: left;
}
/* Image float left 2 section*/
#row2 > .col-xs-3 {
	float: left;
}
/* Text float right 2 section*/
#row2 > .col-xs-9 {
	float: right;
}
.col-xs-9 {
	width: 100% !important;
	@include for-min-1016 {
		width: 75% !important;
	}
}
.col-xs-3 {
	min-width: 250px;
	width: 100% !important;
	@include for-min-1016 {
		width: 25% !important;
	}
}
.col-xs-3 > img {
	margin: auto;
	margin-top: 15px;
	@include for-min-1016 {
		margin: auto;
		margin-top: 45px;
	}
}
#row1 img {
	@include for-min-1016 {
		margin-top: 90px;
	}
}
#row2 img {
	max-width: 250px;
}
#row3 img {
	max-width: 230px;
}
/* Carousel section */
.item {
	width: 100%;
	min-height: 176px;
	max-height: 500px;
	height: 66vw;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.carousel-inner>.item:nth-child(1) {
	background-image: url(../img/concert1.jpg);
}
.carousel-inner>.item:nth-child(2) {
	background-image: url(../img/concert2.jpg);
}
.carousel-inner>.item:nth-child(3) {
	background-image: url(../img/concert3.jpg);
}
.carousel-inner>.item:nth-child(4) {
	background-image: url(../img/concert4.jpg);
}
/* Footer section */
.footer-div {
	color: #666;
	padding-top: 20px;
	padding-bottom: 10px;
}
.footer-div a {
	color: #c18c00;
}
.footer-div a:hover {
	color: #c18c00;
}
.footer-div a:active {
	color: #c18c00;
}
.footer-div a:visited {
	color: #c18c00;
}
.credits {
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #ddd;
}
.credits-link {
	margin-bottom: 0;
	color: #777;
	text-decoration: none;
	-moz-transition: color 0.5s;
	-o-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
.credits-link:hover {
	color: #c18c00;
}
